# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Environment configurations
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production Build Directories
dist/
dist-ssr/
build/

# Local Fallback File Uploads (evidence docs)
backend/uploads/
uploads/

# Editor / System Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
